<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect 4 </title>
  <script type="text/javascript" >
  const url = "https://geof.geofpwhite.us/"
  
  async function newgame(){
    let x = await fetch(url+"games/connect4/new_game")
    let code = await x.text()
    console.log(code)
    code = code.substring(1,7)
    console.log(code)
    window.location.href = url+ "/games/connect4/" + code

  }
  </script>

  <style>
  .button {
      background-color: white;
      border-radius: 25px;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 50px;
    }
  </style>
</head>

<body>

<button class="button" onclick="newgame()">
New Game
</button>

</body>

</html>
