<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect 4 </title>
  <script type="text/javascript" >
  
  </script>

  <style>
      .button {
        background-color: white;
        border-radius: 25px;
        {{/* width: 50px;
        height: 50px; */}}
        border: 1px solid #ccc;
        text-align: center;
        line-height: 50px;


      }
  </style>
</head>

<body>
{{template "navbar" .}}
<div style="position:absolute;right:50%;top:20%;">
<h2> Pick a Game </h2>
<a href="geofpwhite.github.io/hangman"><button class="button" type="button" id="hangman">hangman</button></a>
<a href="/connect4"><button class="button" type="button" id="connect4" >connect 4</button></a>
<a href="/connect-the-dots"><button class="button" type="button" id="connectTheDots" >connect the dots</button></a>
<a href="/tictactoe"><button class="button" type="button" id="tictactoe" >tictactoe</button></a>
</div>
</body>

</html>
