<!DOCTYPE html>
<html>
	<head>
		<title>{{ .Title }}</title>
	</head>
	<body>
		{{ template "navbar" }}
		<form id="login-form">
			<ul>
				<li>
					<label for="Username"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="Username" id="username"  required>
				</li>

				<li>
					<label for="Password"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="Password" id="password" required>
				</li>
				<li>
					<button type="submit" >Login</button>
				</li>
			</ul>
		</form>
	</body>

<script type="text/javascript">
document.getElementById('login-form').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent the form from submitting normally

  var username = document.getElementById('username').value;
  var password = document.getElementById('password').value;

  fetch('/account/login/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({username: username, password: password}),
  })
  .then(response => response.json())
  .then(data => {
    if (data.success) {
      // Login was successful, do something here
    } else {
      // Login failed, do something else here
    }
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});
</script>
</html>
