<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="/games/favicon.png">
		<title>Logout</title>
		{{ template "styles" . }}
	</head>
	<body>
		{{ template "navbar" . }}
		<div class="page-center">
			<p>Logging out...</p>
		</div>
	</body>
</html>
<script type="text/javascript">
fetch('/games/accounts/logout', { method: 'POST' })
  .catch(() => {})
  .finally(() => {
    window.location.href = '/';
  });
</script>
