{{ define "navbar" }}
<nav>
	<ul style="display:flex;gap:30px;">
		<li><a href="/games/">Home</a></li>
		<li><a href="/games/about">About</a></li>
		<li><a href="/games/login">Login</a></li>
		<li><a href="/games/register">Register</a></li>
		<li><a href="/games/change-password">Change Password</a></li>
		<li><a href="/games/challenge">Challenge</a></li>
		<li><a href="/games/user-stats">User Stats</a></li>
		<li><a href="/games/logout">Logout</a></li>
	</ul>
</nav>
{{ end }}

{{ define "navbar-logged-in" }}
<nav>
	<ul style="display:flex;gap:30px;">
		<li><a href="/">Home</a></li>
		<li><a href="/games/about">About</a></li>
		<li><a href="/games/change-password">Change Password</a></li>
		<li><a href="/games/challenge">Challenge</a></li>
		<li><a href="/games/user-stats">User Stats</a></li>
		<li><a href="/games/logout">Logout</a></li>

	</ul>
</nav>
{{ end }}

{{ define "navbar-not-logged-in" }}
<nav>
	<ul style="display:flex;gap:30px;">
		<li><a href="/games/">Home</a></li>
		<li><a href="/games/about">About</a></li>
		<li><a href="/games/login">Login</a></li>
		<li><a href="/games/register">Register</a></li>

	</ul>
</nav>
{{ end }}